[submodule "modules/mDebugOutput"]
	path = modules/mDebugOutput
	url = https://github.com/SkyLined/mDebugOutput/
[submodule "modules/mMultiThreading"]
	path = modules/mMultiThreading
	url = https://github.com/SkyLined/mMultiThreading/
[submodule "modules/mHTTPConnections"]
	path = modules/mHTTPConnections
	url = https://github.com/SkyLined/mHTTPConnections/
[submodule "modules/mHTTPProtocol"]
	path = modules/mHTTPProtocol
	url = https://github.com/SkyLined/mHTTPProtocol/
[submodule "modules/mSSL"]
	path = modules/mSSL
	url = https://github.com/SkyLined/mSSL/
[submodule "modules/mTCPIPConnections"]
	path = modules/mTCPIPConnections
	url = https://github.com/SkyLined/mTCPIPConnections/
